{% extends "base.html" %}

{% block app_content %}
<div class="row mt-5">
  <div class="col-12 col-md-9 px-4">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Admin!</h1>
      <p class="lead">A dashboard demonstration.</p>
      <hr class="my-4">
      <p class="mb-5">Click any button below to get started!</p>
      <a class="btn btn-primary btn-md" href="{{ url_for('main.profile') }}" role="button">Go to profile</a>
      <a class="btn btn-primary btn-md mx-3" href="{{ url_for('main.edit_profile') }}" role="button">Edit Profile</a>
      <a class="btn btn-primary btn-md" href="{{ url_for('main.change_password') }}" role="button">Change Password</a>
    </div>
  </div>
  <div class="col-12 px-4 pb-5 col-md-3 pb-md-0 pr-md-5">
    <h2 class="h4">Newest users</h2>
    <div style="max-height: 350px; overflow: scroll;">
      <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item list-group-item-primary">
          {{ user.username }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}